.bg-color1{
    background: #0A0851;
}
.bg-color2{
    background: #625e5bb2;
}
.btnbg{
    background: #F5891B;
}

.text-color{
    color: #9BA1A8;
}
.text-color2{
    color: #db8d3e;
}
.text-color2{
    color: #CB4154;
}